.industries-header {
    height: 87vh;
    background: url('./../assets/Commercial\ construction\ header.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
         animation: fadein 2s;
}

.industries-successCards {
    width: 50%;
}

@media (max-width: 479px) {
    .industries-header {
        background: url('./../assets/Commercial\ construction\ header-mobile.jpg');
        background-position: right bottom;
        background-size: cover;
        background-repeat: none;
        height: 92vh;
    }

    .industries-successCards {
        height: 600px;
        width: 80vw;
    }
}