.industries-header {
    height: 87vh;
    background: url('./../assets/Utilities\ header\ image\ new.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
         animation: fadein 2s;
}

